<div class="row">
    <!-- [ tabs ] start -->
    <div class="col-sm-12">
        <h5>Reserve</h5>
        <hr>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-uppercase" id="home-tab" data-toggle="tab" href="#MyRequest" role="tab" aria-controls="MyRequest" aria-selected="true">My Request</a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("UserReserveForm","Reserve")" class="nav-link text-uppercase" aria-controls="New" aria-selected="false">New</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="MyRequest" role="tabpanel" aria-labelledby="MyRequest-tab">
                <div class="card-block px-0 py-3">
                    <h5>Recent</h5>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Date Requested
                                    </th>
                                    <th>
                                        Purpose
                                    </th>
                                    <th>
                                        Room/Facility
                                    </th>
                                    <th class="text-center">
                                        Status
                                    </th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr>
                                    <td>
                                        35
                                    </td>
                                    <td>
                                        10/12/2019
                                    </td>
                                    <td class="">
                                        Examination
                                    </td>
                                    <td class="">
                                        LB 445
                                    </td>
                                    <td class="text-center">
                                        <h6 class="m-0 text-c-green">Pending</h6>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="card-block px-0 py-3">
                        <h5>History</h5>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Date Requested
                                        </th>
                                        <th>
                                            Purpose
                                        </th>
                                        <th>
                                            Room/Facility
                                        </th>
                                        <th class="text-center">
                                            Status
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>


                                    <tr>
                                        <td>
                                            35
                                        </td>
                                        <td>
                                            10/12/2019
                                        </td>
                                        <td class="">
                                            Examination
                                        </td>
                                        <td class="">
                                            LB 445
                                        </td>
                                        <td class="text-center">
                                            <h6 class="m-0 text-c-green">Pending</h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            34
                                        </td>
                                        <td>
                                            10/12/2019
                                        </td>
                                        <td class="">
                                            Study purposes
                                        </td>
                                        <td class="">
                                            LB 447
                                        </td>
                                        <td class="text-center">
                                            <h6 class="m-0 text-c-red">Rejected</h6>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            23
                                        </td>
                                        <td>
                                            10/12/2019
                                        </td>
                                        <td class="">
                                            Project Continuation
                                        </td>
                                        <td class="">
                                            LB 448
                                        </td>
                                        <td class="text-center">
                                            <h6 class="m-0 text-c-blue">Approved</h6>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            19
                                        </td>
                                        <td>
                                            10/12/2019
                                        </td>
                                        <td class="">
                                            Study purposes
                                        </td>
                                        <td class="">
                                            LB 442
                                        </td>
                                        <td class="text-center">
                                            <h6 class="m-0 text-c-red">Rejected</h6>
                                        </td>
                                    </tr>

                                    <tr class="unread">
                                        <td>
                                            15
                                        </td>
                                        <td>
                                            10/12/2019
                                        </td>
                                        <td class="">
                                            Study purposes
                                        </td>
                                        <td class="">
                                            LB 400
                                        </td>
                                        <td class="text-center">
                                            <h6 class="m-0 text-c-blue">Approved</h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- [ tabs ] end -->
    </div>
</div>

