@model DCISM_WBRMSystem.Models.CustomModels.RouterModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial(Model._Partial)

@if (Model._Partial == "_UserPage")
{
    @section scripts{

    }

}
else if (Model._Partial == "_AdminPage")
{
    @section scripts{
        <script>

            $('#Approved-All').click(function () {
                Swal.fire({
                    type: 'success',
                    html: 'Successfully Approved all request.',
                    confirmButtonClass: 'btn btn-success',
                    buttonsStyling: false,
                    timer: 2000
                });
            })
            $('.Approved-One').click(function () {
                Swal.fire({
                    type: 'success',
                    html: 'Successfully Approved.',
                    confirmButtonClass: 'btn btn-success',
                    buttonsStyling: false,
                    timer: 2000
                });
            })
            $('.Reject-One').click(function () {
                Swal.fire({
                    title: 'Reason/Remarks for Rejecting this request',
                    html: '<div class="form-group">' +
                        '<input id="input-field" type="text" class="form-control" />' +
                        '</div>',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false
                }).then(function (result) {
                    if (result.value) {

                        if ($('#input-field').val()) {
                            Swal.fire({
                                type: 'success',
                                html: 'Request rejected',
                                confirmButtonClass: 'btn btn-success',
                                buttonsStyling: false,
                                timer: 2000
                            });
                        } else {
                            Swal.fire({
                                type: 'error',
                                html: 'Reason/Remarks is required',
                                confirmButtonClass: 'btn btn-danger',
                                buttonsStyling: false,
                                timer: 2000
                            });
                        }
                    } else {
                        Swal.fire({
                            type: 'error',
                            html: 'Cancelled',
                            confirmButtonClass: 'btn btn-danger',
                            buttonsStyling: false,
                            timer: 2000
                        });
                    }
                })
            })

        </script>
    }
}
else if (Model._Partial == "_ChairpersonPage")
{
    @section scripts{


    }
}