
@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h5 class="mt-4"><i class="fa fa-cube"></i> Reservation of Facility</h5>
<hr>
<div class="row">
    <!--[ Recent Users ] start-->
    <div class="col-xl-8 col-md-6">
        <div class="card Recent-Users">
            <div class="card-header">
                <h5>Calendar</h5>
            </div>
            <div class="card-block px-0 py-3">
                <div class="table-responsive">
                    <div class="col-sm-12">

                        <div id='calendar'></div>

                        @*<div style='clear:both'></div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--[ Recent Users ] end-->
    <div class="col-xl-4 col-md-6">
        <div class="card card-event">
            <div class="card-block border-bottom">
                <div class="row align-items-center justify-content-center">
                    <div class="col">
                        <h5 class="m-0">Choosen Date: </h5>
                    </div>
                    <div class="col">
                        <h5 class="m-0"><u id="ChoosedDate">@DateTime.Now.ToShortDateString()</u></h5>
                    </div>
                </div>

                <br />
                <br />
                <div class="row align-items-center justify-content-center">
                    <div class="col">
                        <h5 class="m-0">Available Facility</h5>
                    </div>
                </div>
                <select class="form-control select2" name="Room" id="Room" style="width: 100%;">
                    <option value="400">LB 400</option>
                    <option value="442">LB 442</option>
                    <option value="443">LB 443</option>
                    <option value="445">LB 445</option>
                    <option value="446">LB 446</option>
                    <option value="447">LB 447</option>
                    <option value="448">LB 448</option>
                    <option value="466">LC 466</option>
                    <option value="467">LB 467</option>
                    <option value="468">LB 468</option>

                </select>
                <br />
                <br />
                <div class="row align-items-center justify-content-center">
                    <div class="col">
                        <h5 class="m-0">Available Time </h5>
                    </div>
                </div>
                <select class="form-control select2" name="Time" id="Time" style="width: 100%;">
                    <option value="8:00 AM - 9:00 AM">8:00 AM - 9:00 AM</option>
                    <option value="1:30 PM - 2:30 PM">1:30 PM - 2:30 PM</option>
                    <option value="10:00 AM - 11:00 AM">10:00 AM - 11:00 AM</option>
                    <option value="7:30 AM - 8:30 AM">7:30 AM - 8:30 AM</option>
                    <option value="2:30 PM - 3:30 PM">2:30 PM - 3:30 PM</option>

                </select>

            </div>
            <div class="card-block">
                <div class="row align-items-center justify-content-center card-active">
                    <div class="col-6">
                        <button type="button" id="ReserveBut" class="btn btn-primary" title="Reserve" data-toggle="tooltip">Reserve</button>
                    </div>
                    <div class="col-6">

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- [ statistics year chart ] end -->
</div>


@section scripts{

    <script>
        $('#ReserveBut').click(function () {

            Swal.fire({
                title: 'Input your Purpose of Reservation',
                html: '<div class="form-group">' +
                    '<input id="input-field" type="text" class="form-control" />' +
                    '</div>',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false
            }).then(function (result) {
                if (result.value) {


                    Swal.fire({
                        title:'Reservation Confirmation Details',
                        type: 'info',
                        html: '<div class="row align-items-start"><div class="col-md-12"><h5><b>Reservation Date:</b> 12/06/2019</h5></div><div class="col-md-12"> <h5><b>Room:</b> LB 447</h5></div><div class="col-md-12"><h5><b>Time Range:</b> 10:00 AM - 11:00 AM</h5></div><div class="col-md-12"> <h5><b>Purpose:</b> Examination</h5></div></div>',
                        showCancelButton: true,
                        confirmButtonClass: 'btn btn-info',
                        cancelButtonClass: 'btn btn-danger',
                        confirmButtonText: 'Submit',
                        cancelButtonText: 'Cancel',
                        buttonsStyling: false
                    }).then(function (result) {
                        if (result.value) {
                            Swal.fire({
                                type: 'success',
                                html: 'Resservation Successfully Submitted. <strong>' + '</strong>',
                                confirmButtonClass: 'btn btn-success',
                                buttonsStyling: false
                            }).then(function (result) {
                                location.reload();
                            });
                        } else {
                            Swal.fire({
                                type: 'error',
                                html: 'Resservation Cancelled. <strong>' + '</strong>',
                                confirmButtonClass: 'btn btn-danger',
                                buttonsStyling: false
                            }).then(function (result) {
                                $.ajax().get("/Reserve/UserPage");
                            })
                        }
                    });
                } else {
                    Swal.fire({
                        type: 'error',
                        html: 'Resservation Cancelled. <strong>' + '</strong>',
                        confirmButtonClass: 'btn btn-danger',
                        buttonsStyling: false
                    })
                }
            })
        })
    </script>
    <script>
        $('.select2').select2();
        $(document).ready(function () {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            /*  className colors

            className: default(transparent), important(red), chill(pink), success(green), info(blue)

            */


            /* initialize the external events
            -----------------------------------------------------------------*/

            $('#external-events div.external-event').each(function () {

                // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                // it doesn't need to have a start or end
                var eventObject = {
                    title: $.trim($(this).text()) // use the element's text as the event title
                };

                // store the Event Object in the DOM element so we can get to it later
                $(this).data('eventObject', eventObject);

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });


            /* initialize the calendar
            -----------------------------------------------------------------*/

            var calendar = $('#calendar').fullCalendar({
                header: {
                    left: 'title',
                    center: 'agendaDay,agendaWeek,month',
                    right: 'prev,next today'
                },
                editable: true,
                firstDay: 1, //  1(Monday) this can be changed to 0(Sunday) for the USA system
                selectable: true,
                defaultView: 'month',

                axisFormat: 'h:mm',
                columnFormat: {
                    month: 'ddd',    // Mon
                    week: 'ddd d', // Mon 7
                    day: 'dddd M/d',  // Monday 9/7
                    agendaDay: 'dddd d'
                },
                titleFormat: {
                    month: 'MMMM yyyy', // September 2009
                    week: "MMMM yyyy", // September 2009
                    day: 'MMMM yyyy'                  // Tuesday, Sep 8, 2009
                },
                allDaySlot: false,
                selectHelper: true,
                select: function (start, end, allDay) {
                    //var title = prompt('Event Title:');
                    //if (title) {
                    //	calendar.fullCalendar('renderEvent',
                    //		{
                    //			title: title,
                    //			start: start,
                    //			end: end,
                    //			allDay: allDay
                    //		},
                    //		true // make the event "stick"
                    //	);
                    //}
                    $('#ChoosedDate').text("12/06/2019");
                    //alert(start.calendar)
                    calendar.fullCalendar('select');
                },
                droppable: true, // this allows things to be dropped onto the calendar !!!
                drop: function (date, allDay) { // this function is called when something is dropped

                    // retrieve the dropped element's stored Event Object
                    var originalEventObject = $(this).data('eventObject');

                    // we need to copy it, so that multiple events don't have a reference to the same object
                    var copiedEventObject = $.extend({}, originalEventObject);

                    // assign it the date that was reported
                    copiedEventObject.start = date;
                    copiedEventObject.allDay = allDay;

                    // render the event on the calendar
                    // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }

                },

                events: [
                    {
                        title: 'All Day Event',
                        start: new Date(y, m, 1)
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: new Date(y, m, d - 3, 16, 0),
                        allDay: false,
                        className: 'info'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: new Date(y, m, d + 4, 16, 0),
                        allDay: false,
                        className: 'info'
                    },
                    {
                        title: 'Meeting',
                        start: new Date(y, m, d, 10, 30),
                        allDay: false,
                        className: 'important'
                    },
                    {
                        title: 'Lunch',
                        start: new Date(y, m, d, 12, 0),
                        end: new Date(y, m, d, 14, 0),
                        allDay: false,
                        className: 'important'
                    },
                    {
                        title: 'Birthday Party',
                        start: new Date(y, m, d + 1, 19, 0),
                        end: new Date(y, m, d + 1, 22, 30),
                        allDay: false,
                    },
                    {
                        title: 'Click for Google',
                        start: new Date(y, m, 28),
                        end: new Date(y, m, 29),
                        url: 'http://google.com/',
                        className: 'success'
                    }
                ],
            });


        });

    </script>

}