
@{
    ViewBag.Title = "ProfileInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-4 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                        <img class="img-fluid rounded-circle" style="width:70px;" src="~/Content/assets/images/user/avatar-3.jpg" alt="dashboard-user">
                    </div>
                    <div class="col">
                        <h5>Alma Christensen</h5>
                        <span>Student</span>
                    </div>
                </div>
                <ul class="task-list">
                    <li class="">
                        <i class="task-icon bg-c-green"></i>
                        <h6>Email Add<span class="float-right text-muted"><i class="fa fa-edit"></i></span></h6>
                        <p class="text-muted">Dj@@gmail.com</p>
                    </li>
                    <li class="">
                        <i class="task-icon bg-c-green"></i>
                        <h6>Mobile No.<span class="float-right text-muted"><i class="fa fa-edit"></i></span></h6>
                        <p class="text-muted">8377647664376</p>
                    </li>
                    <li class="">
                        <i class="task-icon bg-c-green"></i>
                        <h6>Password<span class="float-right text-muted"><i class="fa fa-edit"></i></span></h6>
                        <p class="text-muted">eghdjehebebe</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

