
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>DCISM-WBRMSystem</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon icon -->
    <link rel="icon" href="~/Content/assets/images/barcode_icon1.gif" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="~/Content/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="~/Content/assets/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <!--Toaster css -->
    <link href="~/Content/toastr/toastr.min.css" rel="stylesheet" />
    <style>
        /*body {
            background-image: url('/Content/assets/images/usc-back.jpg');
            background-size: cover;
        }

        .card {
            background: #F7F9F7;
            opacity: .75;
        }*/
        body {
            /*background-image:url('/Content/assets/images/usc-back.jpg');
            background-size:cover;*/
            background-color: #f4f7fa;
        }

        .card {
            background: #f4f7fa;
            opacity: .75;
        }

        #SignUp_Button {
            background: #0e3c00;
            border-color: #0e3c00;
        }

        #Forgot_Password {
            color: #0e3c00;
        }

        #user_input_username:focus {
            border: .5px solid #0e3c00;
        }

        #user_input_pass:focus {
            border: .5px solid #0e3c00;
        }

        .auth-wrapper .auth-content {
            position: relative;
            width: 600px;
            padding: 15px;
            z-index: 5;
        }
    </style>

    <style>
        /* The container */
        .container {
            display: block;
            position: relative;
            padding-left: 25px;
            margin-bottom: 0px;
            cursor: pointer;
            font-size: 14px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default checkbox */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 16px;
            width: 20px;
            background-color: dimgrey;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 5px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    </style>
</head>

<body>
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="mb-4">
                        <center><i class="feather icon-user-plus auth-icon"></i></center>
                    </div>
                    <center> <h3 class="mb-4">Sign Up</h3></center>

                    @using (Html.BeginForm("SignUpCredential", "Account", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-9">
                                <div class="input-group mb-2 ">
                                    <input type="text" class="form-control" placeholder="ID Number" name="input_IDNumber" id="input_IDNumber" @*onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"*@ required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="usertype" id="teacher_radio" value="Teacher">
                                    <label class="form-check-label" for="teacher_radio">Teacher</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="usertype" id="student_radio" value="Student">
                                    <label class="form-check-label" for="student_radio">Student</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="LastName" name="input_LastName" id="input_LastName" required>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Middle Name" name="input_MiddleName" id="input_MiddleName">
                                </div>
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" autocomplete="off" placeholder="Email" name="input_Email" id="input_Email" required pattern="^[a-zA-Z0-9._+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
                                </div>
                                <div class="input-group mb-4">
                                    <input type="password" class="form-control" placeholder="Password" name="input_Password" id="input_Password" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="FirstName" name="input_FirstName" id="input_FirstName" required>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Course & year" name="input_Course_yr" id="input_Course_yr">
                                </div>
                                <div class="input-group mb-3">
                                    <input type="tel" class="form-control mob_no" placeholder="Mobile" id="input_Mobile" name="input_Mobile" required>
                                </div>
                                <div class="input-group mb-4">
                                    <input type="password" class="form-control" placeholder="Confirm password" id="input_Confirm_Password" name="input_Confirm_Password" required>
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Middle Name" name="" id="user_type_hidden" hidden>
                            @*<input type="text" class="form-control mob_no" data-mask="9999-999-9999">
                                <input type="text" class="form-control mob_no" data-mask="(+63) 999-999-9999">*@
                        </div>
                        <center>
                            <button class="btn btn-primary shadow-2 mb-4" id="SignUp_Button">Sign up</button>
                            <input type="submit" class="btn btn-primary shadow-2 mb-4" id="SignUp_Submit_Button" hidden>
                            <p class="">Allready have an account? <a href="@Url.Action("Login", "Account")"><font color="#0e3c00"></font>Sign in</a></p>
                        </center>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Required Js -->
    <script src="~/Content/assets/js/vendor-all.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Content/inputmask/autoNumeric.js"></script>
    <script src="~/Content/inputmask/input-mask.min.js"></script>
    <script src="~/Content/inputmask/jquery.input-mask.min.js"></script>
    <script src="~/Content/assets/js/pages/form-masking.js"></script>

    <!-- Toaster js -->
    <script src="~/Content/toastr/toastr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            //=============================== START radio toggle function (teacher or student) ===============================\\
            $('input[name="usertype"]').click(function (e) {
                if ($(this).val() == "Teacher") {
                    $('#input_Course_yr').val("");
                    $('#input_Course_yr').prop("disabled", true);
                } else {
                    $('#input_Course_yr').prop("disabled", false);
                }
                $('#user_type_hidden').val($(this).val());
            })
            //=============================== END radio toggle function (teacher or student) ===============================\\

            //=============================== START function for clicking signup button ===============================\\
            $('#SignUp_Button').click(function () {

                var IdNumber = $('#input_IDNumber').val();
                var Usertype = $('#user_type_hidden').val();
                var LastName = $('#input_LastName').val();
                var FirstName = $('#input_FirstName').val();
                var MiddleName = $('#input_MiddleName').val();
                var CourseYr = $('#input_Course_yr').val();
                var Email = $('#input_Email').val();
                var Mobile = $('#input_Mobile').val();
                var Password = $('#input_Password').val();
                var ConfirmPassword = $('#input_Confirm_Password').val();

                var EmailPattern = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;
                var PasswordPattern = /^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@@#$%&]).*$/;
                var errors = [];

                if (!Usertype || Usertype == null || Usertype == "") { errors.push("Choose usertype first!"); }
                if (!LastName || LastName == null || LastName == "") { errors.push("Put Lastname!"); }
                if (!FirstName || FirstName == null || FirstName == "") { errors.push("Put Firstname!"); }
                if (!IdNumber || IdNumber == null || IdNumber == "") { errors.push("Put Id Number!"); }
                if (!Mobile || Mobile == null || Mobile == "") { errors.push("Put Mobile no!"); } else {
                    var number = Mobile.replace(/\D/g, '').toString();
                    if (number.length == 11) {
                        if (!number.startsWith("09")) {
                            errors.push("Invalid mobile no.");
                        }
                    } else {
                        errors.push("Invalid mobile no.");
                    }
                }
                if (!PasswordPattern.test(Password)) { errors.push("Enter minimum 8 chars with atleast 1 number, lower, upper & special(@@#$%&) char."); }
                if (Password && Password != null && Password != "" && ConfirmPassword && ConfirmPassword != null && ConfirmPassword != "") {
                    if (ConfirmPassword != Password) {
                        errors.push("Password not matched!");
                    }
                }
                if (!Password || Password == null || Password == "") { errors.push("Put Password!"); }
                if (!ConfirmPassword || ConfirmPassword == null || ConfirmPassword == "") { errors.push("Put Confirm Password!"); }
                if (!EmailPattern.test(Email)) { errors.push("Invalid Email."); }

                if (errors.length == 0) {
                    var param = {
                        "IdNumber": IdNumber,
                        "Usertype": Usertype,
                        "LastName": LastName,
                        "FirstName": FirstName,
                        "MiddleName": MiddleName,
                        "CourseYr": CourseYr,
                        "Email": Email,
                        "Mobile": Mobile.replace(/\D/g, '').toString(),
                        "Password": Password,
                        "ConfirmPassword": ConfirmPassword
                    };
                    $.ajax({
                        type: "POST",
                        url: "/Account/AjaxSignUpsave",
                        data: JSON.stringify(param),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response.Message == "Success") {
                                SuccessMessage("Code will be send to this number: " + Mobile.replace(/\D/g, '').toString().substring(0, 4) + "-***-**" + Mobile.replace(/\D/g, '').toString().substring(9, 11) + " for confirmation.");
                                //Function to SEND CODE to USER
                                SendCode(param);

                            } else {
                                ErrorMessage(response.Message);
                            }
                        },
                        failure: function (response) {
                            ErrorMessage(response.responseText);
                        },
                        error: function (response) {
                            ErrorMessage(response.responseText);
                        }
                    });
                    errors = [];
                    return false;

                } else {
                    var index = errors.indexOf("Password not matched!");
                    var index1 = errors.indexOf("Choose usertype first!");
                    var index2 = errors.indexOf("Put Mobile no!");
                    var index3 = errors.indexOf("Invalid mobile no.");
                    var index4 = errors.indexOf("Enter minimum 8 chars with atleast 1 number, lower, upper & special(@@#$%&) char.");
                    if (index == -1 && index1 == -1 && index2 == -1 && index3 == -1) {
                        errors = [];
                        $('#SignUp_Submit_Button').click();
                    }
                    else {
                        if (index != -1) {
                            ErrorMessage(errors[index]);
                        }
                        if (index1 != -1) {
                            ErrorMessage(errors[index1]);
                        }
                        if (index2 != -1) {
                            ErrorMessage(errors[index2]);
                        }
                        if (index3 != -1) {
                            ErrorMessage(errors[index3]);
                        }
                        if (index4 != -1) {
                            ErrorMessage(errors[index4]);
                        }
                        return false;
                    }
                    errors = [];
                }
            })
            //=============================== END function for clicking signup button ===============================\\

            //=============================== START function for showing success message ===============================\\
            function SuccessMessage(message) {
                toastr.success(message);
            }
            //=============================== END function for showing success message ===============================\\

            //=============================== START function for showing error message ===============================\\
            function ErrorMessage(message) {
                toastr.error(message);
            }
            //=============================== END function for showing error message ===============================\\

            //=============================== START function to as is submit but just redirect ===============================\\
            function redirect() {
                $('#SignUp_Submit_Button').click();
                RefreshAll();
            }
            //=============================== END function to as is submit but just redirect ===============================\\

            //=============================== START function to refresh all signup fields ===============================\\
            function RefreshAll() {
                $('#input_IDNumber').val("");
                $('#user_type_hidden').val("");
                $('#input_LastName').val("");
                $('#input_FirstName').val("");
                $('#input_MiddleName').val("");
                $('#input_Course_yr').val("");
                $('#input_Email').val("");
                $('#input_Mobile').val("");
                $('#input_Password').val("");
                $('#input_Confirm_Password').val("");
            }
            //=============================== END function to refresh all signup fields ===============================\\

            $('#input_IDNumber').keyup(function () {
                if (/\D/g.test($(this).val())) {
                    $(this).val($(this).val().replace(/\D/g, ''))
                    $.ajax({
                        type: "POST",
                        url: "/Account/CheckIsIdNumberExist",
                        data: '{idnumber:' + $(this).val() + '}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response.Message == "Yes") {
                                ErrorMessage("Someone already using this Id Number.");
                                $('#input_IDNumber').val("");
                            }
                        },
                        failure: function (response) {
                            ErrorMessage(response.responseText);
                        },
                        error: function (response) {
                            ErrorMessage(response.responseText);
                        }
                    });
                }
            })



            //=============================== START function to be called every after type in mobile field ===============================\\
            $('#input_Mobile').keyup(function () {
                if ($(this).val().length > 0) {
                    $.ajax({
                        type: "POST",
                        url: "/Account/CheckIsNumberExist",
                        data: '{num:' + $(this).val().replace(/\D/g, '').toString() + '}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response.Message == "Yes") {
                                var number = $('#input_Mobile').val().replace(/\D/g, '').toString();
                                if (number.length == 11) {
                                    ErrorMessage("Someone already using this number.");
                                    $('#input_Mobile').val("");
                                }

                            }
                        },
                        failure: function (response) {
                            ErrorMessage(response.responseText);
                        },
                        error: function (response) {
                            ErrorMessage(response.responseText);
                        }
                    });
                }
            });
            //=============================== END function to be called every after type in mobile field ===============================\\

            //=============================== START function to send CODE ===============================\\
            function SendCode(param) {
                var api = "/api/Common/GetUserCode/id/" + param.IdNumber + "/num/" + param.Mobile + "/pass/" + param.Password;
                $.getJSON(api).done(function (data) {
                    if (data != null && data) {
                        var code_to_send = data.Code_Generated.toString() + data.Id;
                        //alert(code_to_send);

                        //CODE HERE TO SEND CODE ----------->

                        sendCodeAPI(code_to_send, param.Mobile);

                    }

                })
            }
            //=============================== END function to send CODE ===============================\\

            //=============================== START function to be called every after type in Email field ===============================\\
            $('#input_Email').keyup(function () {
                var em = ($(this).val())
                var email = { "email": em };
                $.ajax({
                    type: "POST",
                    url: "/Account/IsEmailExist",
                    data: JSON.stringify(email),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.Message == "Yes") {
                            ErrorMessage("Someone already using this email.");
                            $('#input_Email').val("");
                        }
                    },
                    failure: function (response) {
                        ErrorMessage(response.responseText);
                    },
                    error: function (response) {
                        ErrorMessage(response.responseText);
                    }
                });
            });
            //=============================== END function to be called every after type in Email field ===============================\\

            function sendCodeAPI(data, data1) {
                var code = { "code": data, "number": data1 };
                $.ajax({
                    type: "POST",
                    url: "/Account/SendOTP",
                    data: JSON.stringify(code),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.Message == "success") {
                            setTimeout(redirect, 2500);
                        } else {
                            ErrorMessage("Someone already using this email.");
                        }
                    },
                    failure: function (response) {
                        ErrorMessage(response.responseText);
                    },
                    error: function (response) {
                        ErrorMessage(response.responseText);
                    }
                });

                //setTimeout(redirect, 2500);

            }

            $('.auth-icon').click(() => {
                //var code = { "code": 123456, "number": "09365192469" };
                //$.ajax({
                //    type: "POST",
                //    url: "/Account/TestOTP",
                //    data: JSON.stringify(code),
                //    contentType: "application/json; charset=utf-8",
                //    dataType: "json",
                //    success: function (response) {
                //        if (response.Message == "success") {
                //            setTimeout(redirect, 2500);
                //        } else {
                //            ErrorMessage(response.Message);
                //        }
                //    },
                //    failure: function (response) {
                //        ErrorMessage(response.responseText);
                //    },
                //    error: function (response) {
                //        ErrorMessage(response.responseText);
                //    }
                //});
            })
        })



    </script>
</body>
</html>

