<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Request Id
                </th>
                <th>
                    Requestor Name
                </th>
                <th>
                    Date Requested
                </th>
                <th>
                    Purpose
                </th>
                <th>
                    Room/Facility
                </th>
                <th>
                    Reservation Date
                </th>
                <th>
                    Time
                </th>
                <th class="text-center">
                    Status
                </th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>
                    35
                </td>
                <th>
                    Stephen Curry
                </th>
                <td>
                    10/12/2019
                </td>
                <td class="">
                    Examination
                </td>
                <td class="">
                    LB 445
                </td>
                <td>
                    10/12/2019
                </td>
                <td>
                    7:30 AM - 8:30 AM
                </td>
                <td class="text-center">
                    <h6 class="m-0 text-c-blue">Approve</h6>
                </td>
            </tr>
            <tr>
                <td>
                    30
                </td>
                <th>
                    Klay Thompson
                </th>
                <td>
                    10/12/2019
                </td>
                <td class="">
                    Oral Exam
                </td>
                <td class="">
                    LB 445
                </td>
                <td>
                    10/12/2019
                </td>
                <td>
                    10:30 AM - 11:30 AM
                </td>
                <td class="text-center">
                    <h6 class="m-0 text-c-red">Rejected</h6>
                </td>
            </tr>
            <tr>
                <td>
                    29
                </td>
                <th>
                    Draymond Green
                </th>
                <td>
                    10/12/2019
                </td>
                <td class="">
                    Preperation of Proposal Defense
                </td>
                <td class="">
                    LB 445
                </td>
                <td>
                    10/12/2019
                </td>
                <td>
                    7:30 AM - 8:30 AM
                </td>
                <td class="text-center">
                    <h6 class="m-0 text-c-blue">Approve</h6>
                </td>
            </tr>
            <tr>
                <td>
                    26
                </td>
                <th>
                    Kevin Durant
                </th>
                <td>
                    10/12/2019
                </td>
                <td class="">
                    Examination
                </td>
                <td class="">
                    LB 445
                </td>
                <td>
                    10/12/2019
                </td>
                <td>
                    7:30 AM - 8:30 AM
                </td>
                <td class="text-center">
                    <h6 class="m-0 text-c-blue">Approve</h6>
                </td>
            </tr>
            <tr>
                <td>
                    25
                </td>
                <th>
                    Kyrie Irving
                </th>
                <td>
                    10/12/2019
                </td>
                <td class="">
                    Practice
                </td>
                <td class="">
                    LB 445
                </td>
                <td>
                    10/12/2019
                </td>
                <td>
                    7:30 AM - 8:30 AM
                </td>
                <td class="text-center">
                    <h6 class="m-0 text-c-blue">Approve</h6>
                </td>
            </tr>
            <tr>
                <td>
                    20
                </td>
                <th>
                    James Harden
                </th>
                <td>
                    10/12/2019
                </td>
                <td class="">
                    Examination
                </td>
                <td class="">
                    LB 445
                </td>
                <td>
                    10/12/2019
                </td>
                <td>
                    7:30 AM - 8:30 AM
                </td>
                <td class="text-center">
                    <h6 class="m-0 text-c-blue">Approve</h6>
                </td>
            </tr>

        </tbody>
    </table>
</div>


