
@{
    ViewBag.Title = "Reserve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- [ tabs ] start -->
    <div class="col-sm-12">
        <h5>Reserve</h5>
        <hr>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-uppercase" id="home-tab" data-toggle="tab" href="#Pending" role="tab" aria-controls="Pending" aria-selected="true">Pending Request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase" id="All-tab" data-toggle="tab" href="#All" role="tab" aria-controls="Approved" aria-selected="false">All</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="Pending" role="tabpanel" aria-labelledby="Pending-tab">
                <p class="mb-0">
                    <div class="col-xl-12">
                        <div class="card-block">
                            <div class="row justify-content-center">
                                <div class="col-sm-6">
                                    <input type="text" id="" class="form-control mb-4" placeholder="Search . ..">
                                </div>
                            </div>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#!" id="Approved-All">Approved All</a></li>
                            </ul>
                        </div>
                        <div class="card-block table-border-style">
                            @Html.Partial("_PendingReservationRequestPane", "Reserve")
                        </div>
                    </div>
                </p>
            </div>
            <div class="tab-pane fade" id="All" role="tabpanel" aria-labelledby="All-tab">
                <p class="mb-0">
                    <div class="col-xl-12">
                        <div class="card-block">
                            <div class="row justify-content-center">
                                <div class="col-sm-6">
                                    <input type="text" id="" class="form-control mb-4" placeholder="Search . ..">
                                </div>
                            </div>
                        </div>
                        <div class="card-block table-border-style">
                            @Html.Partial("_AllReservationRequestPane", "Reserve")
                        </div>
                    </div>
                </p>
            </div>


        </div>


        <!-- [ tabs ] end -->
    </div>
</div>
@section scripts{

    <script>

        $('#Approved-All').click(function () {
            Swal.fire({
                type: 'success',
                html: 'Successfully Approved all request.',
                confirmButtonClass: 'btn btn-success',
                buttonsStyling: false,
                timer: 2000
            });
        })
        $('.Approved-One').click(function () {
            Swal.fire({
                type: 'success',
                html: 'Successfully Approved.',
                confirmButtonClass: 'btn btn-success',
                buttonsStyling: false,
                timer: 2000
            });
        })
        $('.Reject-One').click(function () {
            Swal.fire({
                title: 'Reason/Remarks for Rejecting this request',
                html: '<div class="form-group">' +
                    '<input id="input-field" type="text" class="form-control" />' +
                    '</div>',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false
            }).then(function(result){
                if (result.value) {

                    if ($('#input-field').val()) {
                        Swal.fire({
                            type: 'success',
                            html: 'Request rejected',
                            confirmButtonClass: 'btn btn-success',
                            buttonsStyling: false,
                            timer: 2000
                        });
                    } else {
                        Swal.fire({
                            type: 'error',
                            html: 'Reason/Remarks is required',
                            confirmButtonClass: 'btn btn-danger',
                            buttonsStyling: false,
                            timer: 2000
                        });
                    }
                } else {
                    Swal.fire({
                        type: 'error',
                        html: 'Cancelled',
                        confirmButtonClass: 'btn btn-danger',
                        buttonsStyling: false,
                        timer: 2000
                    });
                }
            })
        })

    </script>
}

