
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5><i class="fa fa-users"></i>&nbsp;Users</h5>
            </div>
            <br />
            <div class="row justify-content-center">
                <div class="col-sm-5">
                    <input type="text" class="form-control mb-4" placeholder="Search.. .">
                </div>
            </div>

            <hr />

            <div class="card-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID Number</th>
                            <th>Name</th>
                            <th>Course&yr</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th class="text-md-left">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="~/Content/assets/images/user/avatar-1.jpg" alt="activity-user">7273828</h6>
                            </td>
                            <td>
                                <h6 class="m-0">Stephen Curry</h6>
                            </td>
                            <td>
                                <h6 class="m-0">CCT-1</h6>
                            </td>
                            <td>
                                <h6 class="m-0">Student</h6>
                            </td>
                            <td>
                                <h6 class="m-0 text-c-green">Active</h6>
                            </td>
                            <td class="text-center">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link text-c-red" href="#!" id=""><i class="feather icon-lock auth-icon"></i>&nbsp;Block</a></li>
                                    &nbsp;
                                    <li class="page-item"><a class="page-link text-c-blue" id="" style="color:blue"><i class="feather icon-unlock auth-icon"></i>&nbsp;Unblock</a></li>
                                    &nbsp;
                                    <li class="page-item"><a class="page-link text-black-50" id="" style="color:black"><i class="fa fa-trash"></i>&nbsp;Remove</a></li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="~/Content/assets/images/user/avatar-2.jpg" alt="activity-user">3464738</h6>
                            </td>
                            <td>
                                <h6 class="m-0">Klay Thompson</h6>
                            </td>
                            <td>
                                <h6 class="m-0"></h6>
                            </td>
                            <td>
                                <h6 class="m-0">Teacher</h6>
                            </td>
                            <td>
                                <h6 class="m-0 text-c-red">Blocked</h6>
                            </td>
                            <td class="text-center">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link text-c-red" href="#!" id=""><i class="feather icon-lock auth-icon"></i>&nbsp;Block</a></li>
                                    &nbsp;
                                    <li class="page-item"><a class="page-link text-c-blue" id="" style="color:blue"><i class="feather icon-unlock auth-icon"></i>&nbsp;Unblock</a></li>
                                    &nbsp;
                                    <li class="page-item"><a class="page-link text-black-50" id="" style="color:black"><i class="fa fa-trash"></i>&nbsp;Remove</a></li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="~/Content/assets/images/user/avatar-3.jpg" alt="activity-user">37437943</h6>
                            </td>
                            <td>
                                <h6 class="m-0">Draymond Green</h6>
                            </td>
                            <td>
                                <h6 class="m-0">CCT-1</h6>
                            </td>
                            <td>
                                <h6 class="m-0">Student</h6>
                            </td>
                            <td>
                                <h6 class="m-0 text-c-green">Active</h6>
                            </td>
                            <td class="text-center">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link text-c-red" href="#!" id=""><i class="feather icon-lock auth-icon"></i>&nbsp;Block</a></li>
                                    &nbsp;
                                    <li class="page-item"><a class="page-link text-c-blue" id="" style="color:blue"><i class="feather icon-unlock auth-icon"></i>&nbsp;Unblock</a></li>
                                    &nbsp;
                                    <li class="page-item"><a class="page-link text-black-50" id="" style="color:black"><i class="fa fa-trash"></i>&nbsp;Remove</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6 class="m-0"><img class="rounded-circle  m-r-10" style="width:40px;" src="~/Content/assets/images/user/avatar-4.jpg" alt="activity-user">73627338</h6>
                            </td>
                            <td>
                                <h6 class="m-0">Andry Igoudala</h6>
                            </td>
                            <td>
                                <h6 class="m-0">CCT-1</h6>
                            </td>
                            <td>
                                <h6 class="m-0">Student</h6>
                            </td>
                            <td>
                                <h6 class="m-0 text-c-green">Active</h6>
                            </td>
                            <td class="text-center">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link text-c-red" href="#!" id=""><i class="feather icon-lock auth-icon"></i>&nbsp;Block</a></li>
                                    &nbsp;
                                    <li class="page-item"><a class="page-link text-c-blue" id="" style="color:blue"><i class="feather icon-unlock auth-icon"></i>&nbsp;Unblock</a></li>
                                    &nbsp;
                                    <li class="page-item"><a class="page-link text-black-50" id="" style="color:black"><i class="fa fa-trash"></i>&nbsp;Remove</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

