@model DCISM_WBRMSystem.Models.CustomModels.RouterModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial(Model._Partial)

@if (Model._Partial == "_AdminPage")
{
    @section scripts{
        <script src="~/Content/footable/jquery-ui-datatables.min.js"></script>
        <script src="~/Content/footable/jquery-ui-jquery.datatables.min.js"></script>
        <script>
            $(document).ready(function () {

                $.getJSON("/api/Common/GetUsers").done(function (data) {
                    //$('#table-users').empty();

                    //for (var i = data.length - 1; i >= 0; i--) {
                    //    var status = "Active";
                    //    var statusD = '';
                    //    if (!data[i].Is_Active === true) { status == "InActive" }
                    //    if (data[i].Status !== null && data[i].Status !== "") { status = data[i].Status }
                    //    if (status === "Active") {
                    //        statusD = '<h6 class="m-0 text-c-green">' + status + '</h6>'
                    //    } else {
                    //        statusD = '<h6 class="m-0 text-c-red">' + status + '</h6>'
                    //    }
                    //    $('#table-users').append('<tr>' +
                    //        '<td>' +
                    //        '<h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="/Content/assets/images/user/avatar-1.jpg" alt="activity-user">' + data[i].ID_Number + '</h6>' +
                    //        '</td>' +
                    //        '<td>' +
                    //        '<h6 class="m-0">' + data[i].Last_Name +' ,'+ data[i].First_Name+ '</h6>' +
                    //        '</td>' +
                    //        '<td>' +
                    //        '<h6 class="m-0">'+ data[i].CourseAndYear+'</h6>' +
                    //        '</td>' +
                    //        '<td>' +
                    //        '<h6 class="m-0">' + data[i].Role_Name +'</h6>' +
                    //        '</td>' +
                    //        '<td>' +
                    //        statusD +
                    //        '</td>' +
                    //        '<td class="text-center">' +
                    //        '<ul class="pagination">' +
                    //        '<li class="page-item"><a class="page-link text-c-red" onclick="BlockUser(this)" href="#" data-iduser="'+data[i].Id+'"><i class="feather icon-lock auth-icon"></i>&nbsp;Block</a></li>&nbsp;' +
                    //        '<li class="page-item"><a class="page-link text-c-green" onclick="UnBlockUser(this)" data-iduser="' + data[i].Id +'" style="color:blue"><i class="feather icon-unlock auth-icon"></i>&nbsp;Unblock</a></li>&nbsp;' +
                    //        '<li class="page-item"><a class="page-link text-black-50" onclick="RemoveUser(this)" data-iduser="' + data[i].Id +'" style="color:black"><i class="fa fa-trash"></i>&nbsp;Remove</a></li>' +
                    //        '</ul>' +
                    //        '</td>' +
                    //        '</tr>')
                    //}
                    var dataset_Users = [];
                    for (var i = 0; i < data.length; i++) {
                        var status = "Active";
                        var statusD = '';
                        if (!data[i].Is_Active === true) { status == "InActive" }
                        if (data[i].Status !== null && data[i].Status !== "") { status = data[i].Status }
                        if (status === "Active") {
                            statusD = '<h6 class="m-0 text-c-green">' + status + '</h6>'
                        } else {
                            statusD = '<h6 class="m-0 text-c-red">' + status + '</h6>'
                        }
                        var arr = [];
                        arr.push(data[i].Id);
                        arr.push(data[i].RF);
                        arr.push('<h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="/Content/assets/images/user/avatar-1.jpg" alt="activity-user">' + data[i].ID_Number + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].Last_Name + ' ,' + data[i].First_Name + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].CourseAndYear + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].Role_Name + '</h6>');
                        arr.push(statusD);

                        var action_User = '<td class="child" colspan="4">' +
                            '<span class="dtr-title"></span> <span class="dtr-data">' +
                            '<a class="dropdown-toggle addon-btn" data-toggle="dropdown" aria-expanded="true">' +
                            '<i class="fas fa-align-justify"></i>' +
                            '</a>' +
                            '<div class="dropdown-menu dropdown-menu-left">' +
                            '<a class="page-link text-c-red" onclick="BlockUser(this)" href="#" data-iduser="' + data[i].Id + '"><i class="feather icon-lock auth-icon"></i>&nbsp;Block</a></li>' +
                            '<a class="page-link text-c-green" onclick="UnBlockUser(this)" data-iduser="' + data[i].Id + '" style="color:blue"><i class="feather icon-unlock auth-icon"></i>&nbsp;Unblock</a>' +
                            '<a class="page-link text-black-50" onclick="RemoveUser(this)" data-iduser="' + data[i].Id + '" style="color:black"><i class="fa fa-trash"></i>&nbsp;Remove</a>' +
                            '</span>' +
                            '</td>';
                        arr.push(action_User);

                        dataset_Users.push(arr);

                    }
                    if ($.fn.DataTable.isDataTable('#Table_Users')) {
                        $('#Table_Users').DataTable().destroy();
                    }
                    $('#Table_Users').DataTable({
                        data: dataset_Users,
                        "columns": [
                            { title: "Id" },
                            { title: "Rf" },
                            { title: "Id Number" },
                            { title: "Name" },
                            { title: "Course&Year" },
                            { title: "Type" },
                            { title: "Status" },
                            { title: "Action" }
                        ],
                        "columnDefs": [
                            {
                                "targets": [0],
                                "visible": false,
                                "searchable": false
                            },
                            {
                                "targets": [1],
                                "visible": false,
                                "searchable": true
                            }

                        ],
                        "language": {
                            "emptyTable": "No data. <b>found</b>"
                        }

                    }).order([0, 'desc'])
                        .draw();
                })
            })

            $('#Filter_UserType').change(function () {
                var type = $(this).val();
                var status = $('#Filter_UserStatus').val();
                $.getJSON('/api/Common/Users/status/' + status + '/type/' + type).done(function (data) {
                    var dataset_Users = [];
                    for (var i = 0; i < data.length; i++) {
                        var status = "Active";
                        var statusD = '';
                        if (!data[i].Is_Active === true) { status == "InActive" }
                        if (data[i].Status !== null && data[i].Status !== "") { status = data[i].Status }
                        if (status === "Active") {
                            statusD = '<h6 class="m-0 text-c-green">' + status + '</h6>'
                        } else {
                            statusD = '<h6 class="m-0 text-c-red">' + status + '</h6>'
                        }
                        var arr = [];
                        arr.push(data[i].Id);
                        arr.push(data[i].RF);
                        arr.push('<h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="/Content/assets/images/user/avatar-1.jpg" alt="activity-user">' + data[i].ID_Number + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].Last_Name + ' ,' + data[i].First_Name + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].CourseAndYear + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].Role_Name + '</h6>');
                        arr.push(statusD);

                        var action_User = '<td class="child" colspan="4">' +
                            '<span class="dtr-title"></span> <span class="dtr-data">' +
                            '<a class="dropdown-toggle addon-btn" data-toggle="dropdown" aria-expanded="true">' +
                            '<i class="fas fa-align-justify"></i>' +
                            '</a>' +
                            '<div class="dropdown-menu dropdown-menu-left">' +
                            '<a class="page-link text-c-red" onclick="BlockUser(this)" href="#" data-iduser="' + data[i].Id + '"><i class="feather icon-lock auth-icon"></i>&nbsp;Block</a></li>' +
                            '<a class="page-link text-c-green" onclick="UnBlockUser(this)" data-iduser="' + data[i].Id + '" style="color:blue"><i class="feather icon-unlock auth-icon"></i>&nbsp;Unblock</a>' +
                            '<a class="page-link text-black-50" onclick="RemoveUser(this)" data-iduser="' + data[i].Id + '" style="color:black"><i class="fa fa-trash"></i>&nbsp;Remove</a>' +
                            '</span>' +
                            '</td>';
                        arr.push(action_User);

                        dataset_Users.push(arr);

                    }
                    if ($.fn.DataTable.isDataTable('#Table_Users')) {
                        $('#Table_Users').DataTable().destroy();
                    }
                    $('#Table_Users').DataTable({
                        data: dataset_Users,
                        "columns": [
                            { title: "Id" },
                            { title: "Rf" },
                            { title: "Id Number" },
                            { title: "Name" },
                            { title: "Course&Year" },
                            { title: "Type" },
                            { title: "Status" },
                            { title: "Action" }
                        ],
                        "columnDefs": [
                            {
                                "targets": [0],
                                "visible": false,
                                "searchable": false
                            },
                            {
                                "targets": [1],
                                "visible": false,
                                "searchable": true
                            }

                        ],
                        "language": {
                            "emptyTable": "No data. <b>found</b>"
                        }

                    }).order([0, 'desc'])
                        .draw();
                })
            })

            $('#Filter_UserStatus').change(function () {
                var type = $('#Filter_UserType').val();
                var status = $(this).val();
                $.getJSON('/api/Common/Users/status/' + status + '/type/' + type).done(function (data) {
                    var dataset_Users = [];
                    for (var i = 0; i < data.length; i++) {
                        var status = "Active";
                        var statusD = '';
                        if (!data[i].Is_Active === true) { status == "InActive" }
                        if (data[i].Status !== null && data[i].Status !== "") { status = data[i].Status }
                        if (status === "Active") {
                            statusD = '<h6 class="m-0 text-c-green">' + status + '</h6>'
                        } else {
                            statusD = '<h6 class="m-0 text-c-red">' + status + '</h6>'
                        }
                        var arr = [];
                        arr.push(data[i].Id);
                        arr.push(data[i].RF);
                        arr.push('<h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="/Content/assets/images/user/avatar-1.jpg" alt="activity-user">' + data[i].ID_Number + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].Last_Name + ' ,' + data[i].First_Name + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].CourseAndYear + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].Role_Name + '</h6>');
                        arr.push(statusD);

                        var action_User = '<td class="child" colspan="4">' +
                            '<span class="dtr-title"></span> <span class="dtr-data">' +
                            '<a class="dropdown-toggle addon-btn" data-toggle="dropdown" aria-expanded="true">' +
                            '<i class="fas fa-align-justify"></i>' +
                            '</a>' +
                            '<div class="dropdown-menu dropdown-menu-left">' +
                            '<a class="page-link text-c-red" onclick="BlockUser(this)" href="#" data-iduser="' + data[i].Id + '"><i class="feather icon-lock auth-icon"></i>&nbsp;Block</a></li>' +
                            '<a class="page-link text-c-green" onclick="UnBlockUser(this)" data-iduser="' + data[i].Id + '" style="color:blue"><i class="feather icon-unlock auth-icon"></i>&nbsp;Unblock</a>' +
                            '<a class="page-link text-black-50" onclick="RemoveUser(this)" data-iduser="' + data[i].Id + '" style="color:black"><i class="fa fa-trash"></i>&nbsp;Remove</a>' +
                            '</span>' +
                            '</td>';
                        arr.push(action_User);

                        dataset_Users.push(arr);

                    }
                    if ($.fn.DataTable.isDataTable('#Table_Users')) {
                        $('#Table_Users').DataTable().destroy();
                    }
                    $('#Table_Users').DataTable({
                        data: dataset_Users,
                        "columns": [
                            { title: "Id" },
                            { title: "Rf" },
                            { title: "Id Number" },
                            { title: "Name" },
                            { title: "Course&Year" },
                            { title: "Type" },
                            { title: "Status" },
                            { title: "Action" }
                        ],
                        "columnDefs": [
                            {
                                "targets": [0],
                                "visible": false,
                                "searchable": false
                            },
                            {
                                "targets": [1],
                                "visible": false,
                                "searchable": true
                            }

                        ],
                        "language": {
                            "emptyTable": "No data. <b>found</b>"
                        }

                    }).order([0, 'desc'])
                        .draw();
                })
            })

            function BlockUser(el) {
                var id = $(el).data('iduser');

                $.ajax({
                    type: "POST",
                    url: "/User/BlockUser",
                    data: '{userid:"' + id + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.Message == "success") {
                            toastr.success("One user is successfully blocked");
                            Reloader();
                        } else {

                        }
                    },
                    failure: function (response) {
                        toastr.failure("failure!");
                    },
                    error: function (response) {
                        toastr.failure("error!");
                    }
                });

            }
            function UnBlockUser(el) {
                var id = $(el).data('iduser');
                $.ajax({
                    type: "POST",
                    url: "/User/UnBlockUser",
                    data: '{userid:"' + id + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.Message == "success") {
                            toastr.success("One user is successfully unblocked");
                            Reloader();
                        } else {

                        }
                    },
                    failure: function (response) {
                        toastr.failure("failure!");
                    },
                    error: function (response) {
                        toastr.failure("error!");
                    }
                });
            }
            function RemoveUser(el) {
                var id = $(el).data('iduser');
                $.ajax({
                    type: "POST",
                    url: "/User/RemoveUser",
                    data: '{userid:"' + id + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.Message == "success") {
                            toastr.success("One user is successfully Removed");
                            Reloader();
                        } else {

                        }
                    },
                    failure: function (response) {
                        toastr.failure("failure!");
                    },
                    error: function (response) {
                        toastr.failure("error!");
                    }
                });
            }

            function Reloader() {
                setTimeout(function () {
                    location.reload();
                }, 1000)
            }
        </script>
    }
}
else if (Model._Partial == "_ChairpersonPage")
{
    @section scripts{

        <script src="~/Content/footable/jquery-ui-datatables.min.js"></script>
        <script src="~/Content/footable/jquery-ui-jquery.datatables.min.js"></script>
        <script>
            $(document).ready(function () {

                $.getJSON("/api/Common/GetUsers").done(function (data) {
                    //$('#table-users').empty();

                    //for (var i = data.length - 1; i >= 0; i--) {
                    //    var status = "Active";
                    //    var statusD = '';
                    //    if (!data[i].Is_Active === true) { status == "InActive" }
                    //    if (data[i].Status !== null && data[i].Status !== "") { status = data[i].Status }
                    //    if (status === "Active") {
                    //        statusD = '<h6 class="m-0 text-c-green">' + status + '</h6>'
                    //    } else {
                    //        statusD = '<h6 class="m-0 text-c-red">' + status + '</h6>'
                    //    }
                    //    $('#table-users').append('<tr>' +
                    //        '<td>' +
                    //        '<h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="/Content/assets/images/user/avatar-1.jpg" alt="activity-user">' + data[i].ID_Number + '</h6>' +
                    //        '</td>' +
                    //        '<td>' +
                    //        '<h6 class="m-0">' + data[i].Last_Name +' ,'+ data[i].First_Name+ '</h6>' +
                    //        '</td>' +
                    //        '<td>' +
                    //        '<h6 class="m-0">'+ data[i].CourseAndYear+'</h6>' +
                    //        '</td>' +
                    //        '<td>' +
                    //        '<h6 class="m-0">' + data[i].Role_Name +'</h6>' +
                    //        '</td>' +
                    //        '<td>' +
                    //        statusD +
                    //        '</td>' +
                    //        '<td class="text-center">' +
                    //        '<ul class="pagination">' +
                    //        '<li class="page-item"><a class="page-link text-c-red" onclick="BlockUser(this)" href="#" data-iduser="'+data[i].Id+'"><i class="feather icon-lock auth-icon"></i>&nbsp;Block</a></li>&nbsp;' +
                    //        '<li class="page-item"><a class="page-link text-c-green" onclick="UnBlockUser(this)" data-iduser="' + data[i].Id +'" style="color:blue"><i class="feather icon-unlock auth-icon"></i>&nbsp;Unblock</a></li>&nbsp;' +
                    //        '<li class="page-item"><a class="page-link text-black-50" onclick="RemoveUser(this)" data-iduser="' + data[i].Id +'" style="color:black"><i class="fa fa-trash"></i>&nbsp;Remove</a></li>' +
                    //        '</ul>' +
                    //        '</td>' +
                    //        '</tr>')
                    //}
                    var dataset_Users = [];
                    for (var i = 0; i < data.length; i++) {
                        var status = "Active";
                        var statusD = '';
                        if (!data[i].Is_Active === true) { status == "InActive" }
                        if (data[i].Status !== null && data[i].Status !== "") { status = data[i].Status }
                        if (status === "Active") {
                            statusD = '<h6 class="m-0 text-c-green">' + status + '</h6>'
                        } else {
                            statusD = '<h6 class="m-0 text-c-red">' + status + '</h6>'
                        }
                        var arr = [];
                        arr.push(data[i].Id);
                        arr.push(data[i].RF);
                        arr.push('<h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="/Content/assets/images/user/avatar-1.jpg" alt="activity-user">' + data[i].ID_Number + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].Last_Name + ' ,' + data[i].First_Name + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].CourseAndYear + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].Role_Name + '</h6>');
                        arr.push(statusD);

                        var action_User = '<td class="child" colspan="4">' +
                            '<span class="dtr-title"></span> <span class="dtr-data">' +
                            '<a class="dropdown-toggle addon-btn" data-toggle="dropdown" aria-expanded="true">' +
                            '<i class="fas fa-align-justify"></i>' +
                            '</a>' +
                            '<div class="dropdown-menu dropdown-menu-left">' +
                            '<a class="page-link text-c-red" onclick="BlockUser(this)" href="#" data-iduser="' + data[i].Id + '"><i class="feather icon-lock auth-icon"></i>&nbsp;Block</a></li>' +
                            '<a class="page-link text-c-green" onclick="UnBlockUser(this)" data-iduser="' + data[i].Id + '" style="color:blue"><i class="feather icon-unlock auth-icon"></i>&nbsp;Unblock</a>' +
                            '<a class="page-link text-black-50" onclick="RemoveUser(this)" data-iduser="' + data[i].Id + '" style="color:black"><i class="fa fa-trash"></i>&nbsp;Remove</a>' +
                            '</span>' +
                            '</td>';
                        arr.push(action_User);

                        dataset_Users.push(arr);

                    }
                    if ($.fn.DataTable.isDataTable('#Table_Users')) {
                        $('#Table_Users').DataTable().destroy();
                    }
                    $('#Table_Users').DataTable({
                        data: dataset_Users,
                        "columns": [
                            { title: "Id" },
                            { title: "Rf" },
                            { title: "Id Number" },
                            { title: "Name" },
                            { title: "Course&Year" },
                            { title: "Type" },
                            { title: "Status" },
                            { title: "Action" }
                        ],
                        "columnDefs": [
                            {
                                "targets": [0],
                                "visible": false,
                                "searchable": false
                            },
                            {
                                "targets": [1],
                                "visible": false,
                                "searchable": true
                            }

                        ],
                        "language": {
                            "emptyTable": "No data. <b>found</b>"
                        }

                    }).order([0, 'desc'])
                        .draw();
                })
            })

            $('#Filter_UserType').change(function () {
                var type = $(this).val();
                var status = $('#Filter_UserStatus').val();
                $.getJSON('/api/Common/Users/status/' + status + '/type/' + type).done(function (data) {
                    var dataset_Users = [];
                    for (var i = 0; i < data.length; i++) {
                        var status = "Active";
                        var statusD = '';
                        if (!data[i].Is_Active === true) { status == "InActive" }
                        if (data[i].Status !== null && data[i].Status !== "") { status = data[i].Status }
                        if (status === "Active") {
                            statusD = '<h6 class="m-0 text-c-green">' + status + '</h6>'
                        } else {
                            statusD = '<h6 class="m-0 text-c-red">' + status + '</h6>'
                        }
                        var arr = [];
                        arr.push(data[i].Id);
                        arr.push(data[i].RF);
                        arr.push('<h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="/Content/assets/images/user/avatar-1.jpg" alt="activity-user">' + data[i].ID_Number + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].Last_Name + ' ,' + data[i].First_Name + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].CourseAndYear + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].Role_Name + '</h6>');
                        arr.push(statusD);

                        var action_User = '<td class="child" colspan="4">' +
                            '<span class="dtr-title"></span> <span class="dtr-data">' +
                            '<a class="dropdown-toggle addon-btn" data-toggle="dropdown" aria-expanded="true">' +
                            '<i class="fas fa-align-justify"></i>' +
                            '</a>' +
                            '<div class="dropdown-menu dropdown-menu-left">' +
                            '<a class="page-link text-c-red" onclick="BlockUser(this)" href="#" data-iduser="' + data[i].Id + '"><i class="feather icon-lock auth-icon"></i>&nbsp;Block</a></li>' +
                            '<a class="page-link text-c-green" onclick="UnBlockUser(this)" data-iduser="' + data[i].Id + '" style="color:blue"><i class="feather icon-unlock auth-icon"></i>&nbsp;Unblock</a>' +
                            '<a class="page-link text-black-50" onclick="RemoveUser(this)" data-iduser="' + data[i].Id + '" style="color:black"><i class="fa fa-trash"></i>&nbsp;Remove</a>' +
                            '</span>' +
                            '</td>';
                        arr.push(action_User);

                        dataset_Users.push(arr);

                    }
                    if ($.fn.DataTable.isDataTable('#Table_Users')) {
                        $('#Table_Users').DataTable().destroy();
                    }
                    $('#Table_Users').DataTable({
                        data: dataset_Users,
                        "columns": [
                            { title: "Id" },
                            { title: "Rf" },
                            { title: "Id Number" },
                            { title: "Name" },
                            { title: "Course&Year" },
                            { title: "Type" },
                            { title: "Status" },
                            { title: "Action" }
                        ],
                        "columnDefs": [
                            {
                                "targets": [0],
                                "visible": false,
                                "searchable": false
                            },
                            {
                                "targets": [1],
                                "visible": false,
                                "searchable": true
                            }

                        ],
                        "language": {
                            "emptyTable": "No data. <b>found</b>"
                        }

                    }).order([0, 'desc'])
                        .draw();
                })
            })

            $('#Filter_UserStatus').change(function () {
                var type = $('#Filter_UserType').val();
                var status = $(this).val();
                $.getJSON('/api/Common/Users/status/' + status + '/type/' + type).done(function (data) {
                    var dataset_Users = [];
                    for (var i = 0; i < data.length; i++) {
                        var status = "Active";
                        var statusD = '';
                        if (!data[i].Is_Active === true) { status == "InActive" }
                        if (data[i].Status !== null && data[i].Status !== "") { status = data[i].Status }
                        if (status === "Active") {
                            statusD = '<h6 class="m-0 text-c-green">' + status + '</h6>'
                        } else {
                            statusD = '<h6 class="m-0 text-c-red">' + status + '</h6>'
                        }
                        var arr = [];
                        arr.push(data[i].Id);
                        arr.push(data[i].RF);
                        arr.push('<h6 class="m-0"><img class="rounded-circle m-r-10" style="width:40px;" src="/Content/assets/images/user/avatar-1.jpg" alt="activity-user">' + data[i].ID_Number + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].Last_Name + ' ,' + data[i].First_Name + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].CourseAndYear + '</h6>');
                        arr.push('<h6 class="m-0">' + data[i].Role_Name + '</h6>');
                        arr.push(statusD);

                        var action_User = '<td class="child" colspan="4">' +
                            '<span class="dtr-title"></span> <span class="dtr-data">' +
                            '<a class="dropdown-toggle addon-btn" data-toggle="dropdown" aria-expanded="true">' +
                            '<i class="fas fa-align-justify"></i>' +
                            '</a>' +
                            '<div class="dropdown-menu dropdown-menu-left">' +
                            '<a class="page-link text-c-red" onclick="BlockUser(this)" href="#" data-iduser="' + data[i].Id + '"><i class="feather icon-lock auth-icon"></i>&nbsp;Block</a></li>' +
                            '<a class="page-link text-c-green" onclick="UnBlockUser(this)" data-iduser="' + data[i].Id + '" style="color:blue"><i class="feather icon-unlock auth-icon"></i>&nbsp;Unblock</a>' +
                            '<a class="page-link text-black-50" onclick="RemoveUser(this)" data-iduser="' + data[i].Id + '" style="color:black"><i class="fa fa-trash"></i>&nbsp;Remove</a>' +
                            '</span>' +
                            '</td>';
                        arr.push(action_User);

                        dataset_Users.push(arr);

                    }
                    if ($.fn.DataTable.isDataTable('#Table_Users')) {
                        $('#Table_Users').DataTable().destroy();
                    }
                    $('#Table_Users').DataTable({
                        data: dataset_Users,
                        "columns": [
                            { title: "Id" },
                            { title: "Rf" },
                            { title: "Id Number" },
                            { title: "Name" },
                            { title: "Course&Year" },
                            { title: "Type" },
                            { title: "Status" },
                            { title: "Action" }
                        ],
                        "columnDefs": [
                            {
                                "targets": [0],
                                "visible": false,
                                "searchable": false
                            },
                            {
                                "targets": [1],
                                "visible": false,
                                "searchable": true
                            }

                        ],
                        "language": {
                            "emptyTable": "No data. <b>found</b>"
                        }

                    }).order([0, 'desc'])
                        .draw();
                })
            })

            function BlockUser(el) {
                var id = $(el).data('iduser');

                $.ajax({
                    type: "POST",
                    url: "/User/BlockUser",
                    data: '{userid:"' + id + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.Message == "success") {
                            toastr.success("One user is successfully blocked");
                            Reloader();
                        } else {

                        }
                    },
                    failure: function (response) {
                        toastr.failure("failure!");
                    },
                    error: function (response) {
                        toastr.failure("error!");
                    }
                });

            }
            function UnBlockUser(el) {
                var id = $(el).data('iduser');
                $.ajax({
                    type: "POST",
                    url: "/User/UnBlockUser",
                    data: '{userid:"' + id + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.Message == "success") {
                            toastr.success("One user is successfully unblocked");
                            Reloader();
                        } else {

                        }
                    },
                    failure: function (response) {
                        toastr.failure("failure!");
                    },
                    error: function (response) {
                        toastr.failure("error!");
                    }
                });
            }
            function RemoveUser(el) {
                var id = $(el).data('iduser');
                $.ajax({
                    type: "POST",
                    url: "/User/RemoveUser",
                    data: '{userid:"' + id + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.Message == "success") {
                            toastr.success("One user is successfully Removed");
                            Reloader();
                        } else {

                        }
                    },
                    failure: function (response) {
                        toastr.failure("failure!");
                    },
                    error: function (response) {
                        toastr.failure("error!");
                    }
                });
            }

            function Reloader() {
                setTimeout(function () {
                    location.reload();
                }, 1000)
            }
        </script>
    }
}
       



