<div class="row" id="widget-content-none">

    @*<div class="col-md-6 col-xl-4 step1">
            <div class="card daily-sales">
                <div class="card-block">
                    <h6 class="mb-4">No. of Available Items</h6>
                    <div class="row d-flex align-items-center">
                        <div class="col-9">
                            <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>900</h3>
                        </div>

                        <div class="col-3 text-right">
                            <p class="m-b-0"></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-4 ">
            <div class="card Monthly-sales">
                <div class="card-block">
                    <h6 class="mb-4">Borrowed Items</h6>
                    <div class="row d-flex align-items-center">
                        <div class="col-9">
                            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="fa fa-shopping-cart text-c-red f-30 m-r-10"></i>50</h3>
                        </div>
                        <div class="col-3 text-right">
                            <p class="m-b-0"></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12 col-xl-4">
            <div class="card yearly-sales">
                <div>
                    <img src="~/Barcodes/20200219214154031001.jpg" height="50" width="300"/>
                </div>
            </div>
        </div>*@


</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card msg-card mb-0">
            <div class="card-body msg-block">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="message-mobile">
                            <div class="task-right-header-status">
                                <span class="f-w-400" data-toggle="collapse">Print Options</span>
                                <i class="fas fa-times float-right m-t-10"></i>
                            </div>
                            <div class="taskboard-right-progress">
                                <div class="h-list-header">
                                    @*<div class="input-group">
                                        <input type="text" disabled id="msg-friends" class="form-control" placeholder="Note: PDF only allow 45 barcode/img per file.">
                                        <div class="input-group-append" data-toggle="tooltip" title="" id="pdfdownloader" data-original-title="Download PDF File">
                                            <span class="input-group-text"><i class="fa fa-file-pdf" style="color:red"></i></span>
                                        </div>
                                        <div class="input-group-append" data-toggle="tooltip" title="" data-original-title="Print Barcode">
                                            <span class="input-group-text"><i class="feather icon-printer"></i></span>
                                        </div>
                                    </div>*@
                                    <h6><code>Note: </code>PDF only allow 45 barcode/img per file.</h6>
                                </div>
                                <div class="h-list-body">
                                    <div class="msg-user-list scroll-div ps">
                                        <div class="main-friend-list">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td><button onclick="AddedToday()"><i class="fa fa-adjust"> Added today</i></button></td>
                                                    </tr>
                                                    <tr>
                                                        <td><button onclick="NotVerifiedItems()"><i class="far fa-calendar-alt "> Not verified items</i></button></td>
                                                    </tr>
                                                    <tr>
                                                        <td><button><i class="far fa-credit-card "> By Category</i> </button></td>
                                                    </tr>
                                                    <tr>
                                                        <td><button><i class="fas fa-chart-line "> By Room</i></button> </td>
                                                    </tr>
                                                    @*<tr>
                                                        <td><button><i class="fas fa-sync-alt "> Damaged</i></button> </td>
                                                    </tr>
                                                    <tr>
                                                        <td><button><i class="fas fa-sync-alt "> Borrowed</i></button> </td>
                                                    </tr>*@
                                                    <tr>
                                                        <td><button><i class="fas fa-sync-alt "> Item Specific</i></button> </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="ch-block">
                            <div class="h-list-body" id="widget-content">
                                <div class="msg-user-chat scroll-div ps">
                                    <div class="main-friend-chat">
                                        <div class="table-responsive" style="border:0px dotted gainsboro !important;height: 285px;">
                                            <div class="card-block text-center">
                                                @*<div class="row justify-content-center">
                                                    <div class="col-sm-6">
                                                        <input type="text" id="icon-search" class="form-control mb-4" placeholder="search . . ">
                                                    </div>
                                                </div>*@
                                                <div class="i-main" id="barcode-wrapper">
                                                    @*<div class="i-block" data-clipboard-text="feather icon-alert-octagon" data-filter="icon-alert-octagon" data-toggle="tooltip" title="" data-original-title="icon-alert-octagon"><i class="feather icon-alert-octagon"></i></div>
                                                    <div class="i-block" data-clipboard-text="mdi mdi-file-pdf" data-filter="mdi-file-pdf" data-toggle="tooltip" title="" data-original-title="mdi-file-pdf"><i class="fa fa-file-pdf"></i></div>*@
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="msg-form">
                                <div class="input-group mb-0">
                                    <input type="text" class="form-control msg-send-chat" placeholder="Scan Barcode To Reprint..">
                                    <div class="input-group-append">
                                        <input type="file" id="imgupload" style="display:none">
                                        <button id="OpenImgUpload" class="btn btn-primary btn-icon" type="button" data-toggle="tooltip" title="" data-original-title="Download PDF File"><i class="fa fa-file-pdf" style="color:red"></i></button>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-theme btn-icon btn-msg-send" onclick="PrintDiv()" type="button" data-toggle="tooltip" title="" data-original-title="Print Barcodes"><i class="feather icon-printer"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


