
    <div class="row">
        <!-- [ tabs ] start -->
        <div class="col-sm-12">
            <h5 class="mt-4"><i class="fa fa-shopping-cart"></i> Borrow Requests</h5>

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-pending-request-tab" data-toggle="pill" href="#pills-pending-request" role="tab" aria-controls="pills-pending-request" aria-selected="true">Pending Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-all-request-tab" data-toggle="pill" href="#pills-all-request" role="tab" aria-controls="pills-all-request" aria-selected="false">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-release-item-tab" data-toggle="pill" href="#pills-release-item-request" role="tab" aria-controls="pills-release-item-request" aria-selected="false">Release Items/Equipments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-return-item-tab" data-toggle="pill" href="#pills-return-item-request" role="tab" aria-controls="pills-return-item-request" aria-selected="false">Return Items/Equipments</a>
                </li>
               
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-pending-request" role="tabpanel" aria-labelledby="pills-pending-request-tab">
                  @Html.Partial("_AdminPendingBorrowRequestPane")
                </div>
                <div class="tab-pane fade" id="pills-all-request" role="tabpanel" aria-labelledby="pills-all-request-tab">
                  @Html.Partial("_AdminAllBorrowRequestPane")
                </div>
                <div class="tab-pane fade" id="pills-release-item-request" role="tabpanel" aria-labelledby="pills-release-item-tab">
                  @Html.Partial("_AdminReleaseItemPane")
                </div>
                <div class="tab-pane fade" id="pills-return-item-request" role="tabpanel" aria-labelledby="pills-return-item-tab">
                  @Html.Partial("_AdminReturnItemPane")
                </div>
                
            </div>
        </div>
        <!-- [ tabs ] end -->
    </div>



