<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>My Requests</h5>
                &nbsp;&nbsp;
                @*<a href="#" id="create-request"><i class="fas fa-plus"></i>Create New</a>*@
                <button type="button" class="btn btn-rounded btn-primary" id="create-request"><i class="fas fa-plus"></i>Create New</button>
                <div class="card-header-right">
                    <div class="btn-group card-option">
                        <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="feather icon-more-horizontal"></i>
                        </button>
                        <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                            <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <h5>Open Request</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Date Requested
                                </th>
                                <th>
                                    Purpose
                                </th>
                                <th>
                                    Cart Items
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>

                        <tbody id="request-recent"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">Active Requests</a></h5>
                </div>
                <div id="collapseOne" class="card-body collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                    <div class="table-responsive" style="border:1px dotted gainsboro !important;height: 275px;">
                        <table class="table table-hover fixedHeader-floating">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Date Requested
                                    </th>
                                    <th>
                                        Purpose
                                    </th>
                                    <th>
                                        Cart Items
                                    </th>
                                    <th class="">
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="table-request-active">
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-Request-Form" tabindex="-1" role="dialog" aria-labelledby="modal-Request-FormLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-rounded btn-primary" id="add-item-request"><i class="fas fa-plus"></i>Add Item</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="table-responsive" style="border:1px dotted gainsboro !important;height: 275px;">
                        <table class="table table-hover fixedHeader-floating">
                            <thead>
                                <tr>
                                    <th>
                                        Item Name
                                    </th>
                                    @*<th>
                                            Expected Date ( Receive )
                                        </th>
                                        <th>
                                            Expected Date ( Return )
                                        </th>*@
                                    <th>
                                        Qty
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="list-items-Borrow"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal" id="cancel-Borrow">Cancel</button>
                <button type="button" class="btn btn-rounded btn-success" id="submit-Request-Borrow">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-Request-Form-Add-Item" tabindex="-1" role="dialog" aria-labelledby="modal-Request-Form-Add-ItemLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-Request-Form-Add-ItemLabel">Add Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="item-name" class="col-form-label">Item Name</label>
                        <select class="form-control select2" id="Item-Names"></select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Quantity</label>
                        <select class="form-control" id="Qty-Borrow">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    @*<div class="form-group">
                            <label for="message-text" class="col-form-label">Date Range:</label>
                            <input type="text" class="form-control daterange" id="daterange-Borrow" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </div>*@

                    @*<div class="form-group">
                            <label for="message-text" class="col-form-label">Purpose:</label>
                            <textarea class="form-control" id="purpose-Borrow"></textarea>
                        </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add-Item-Borrow">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-Date-Purpose" tabindex="-1" role="dialog" aria-labelledby="modal-Date-PurposeLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Input Date & Purpose</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Date want to receive:</label>
                        <input type="text" class="form-control" id="recieve-Date" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Expected Date to be Returned:</label>
                        <input type="text" class="form-control " id="return-Date" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Purpose:</label>
                        <textarea class="form-control" id="purpose-Borrow"></textarea>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-success" id="submit-Request">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-View-Cart" tabindex="-1" role="dialog" aria-labelledby="modal-View-CartLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cart Items</h5>
                &nbsp;
                &nbsp;
                &nbsp;
                <h5 class="modal-title" id="display-total"><code>Total:</code>  2 items</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" style="border:1px dotted gainsboro !important;height: 275px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="table-cart-Items"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal" id="">Close</button>
            </div>
        </div>
    </div>
</div>
<input type="text" value="@(Session["Username"]!=null?Session["Username"].ToString():"" )" id="Username" hidden>
<input type="text" value="@(Session["IDNumber"]!=null?Session["IDNumber"].ToString():"" )" id="IDNumber" hidden>

